.food{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 48px;
  z-index: 101;
  width: 100%;
}
.food .fade-enter-active,.food .fade-leave-active{
  transition: opacity .5s;
}
.food .fade-enter,.food .fade-leave-to{
  opacity: 0;
}
.food .food-content{
  position: absolute;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  margin:auto;
  /*left: 50%;
  top: 50%;
  transform: translate(-50% -50%)!important;*/
  width: 80%;
  height: 65%;
  z-index: 66;
  background: #fff;
  border-radius: 5px;
}
.food .food-content .image-header{
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.food .food-content .image-header img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.food .food-content .image-header .foodpanel-desc{
  font-size: 10px;
  color: #ddd;
  letter-spacing: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px 10px;
}
.food .food-content .image-header .back{
  position: absolute;
  top: 10px;
  left: 0;
}
.food .food-content .image-header .back .icon-arrow_left{
  display: block;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}
.food .food-content .content_food{
  position: relative;
  padding: 18px;
}
.food .food-content .content_food .title{
  line-height: 14px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(7, 17, 27);
}
.food .food-content .content_food .detail{
  margin-bottom: 18px;
  line-height: 10px;
  height: 10px;
  font-size: 0;
}
.food .food-content .content_food .detail .sell-count,
.food .food-content .content_food .detail .rating{
  font-size: 10px;
  color: rgb(147, 153, 159);
}
.food .food-content .content_food .detail .sell-count{
  margin-right: 12px;
}
.food .food-content .content_food .price{
  font-weight: 700;
  line-height: 24px;
}
.food .food-content .content_food .price .now{
  margin-right: 8px;
  font-size: 14px;
  color: rgb(240, 20, 20);
}
.food .food-content .content_food .price .old{
  text-decoration: line-through;
  font-size: 10px;
  color: rgb(147, 153, 159);
}
.food .food-content .content_food .cartcontrol-wrapper{
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.food .food-content .content_food .buy{
  position: absolute;
  right: 18px;
  bottom: 18px;
  z-index: 10;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 10px;
  color: #fff;
}
.food .food-content .content_food .buy .fade-transition{
  transition: all 0.2s;
  opacity: 1;
}
.food .food-content .content_food .buy .fade-enter,.food .content_food .buy .fade-leave{
  opacity: 0;
}
.food .food-cover{
  position: absolute;
  top: 0;
  right: 0;
  bottom: -48px;
  left: 0;
  z-index: 55;
  background-color: rgba(0, 0, 0, 0.5);
}














