.goods{
  display: flex;
  position: absolute;
  top: 195px;
  bottom: 46px;
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.goods .menu-wrapper{
  flex: 0 0 80px;
  width: 82px;
  background: #f3f5f7;
}
.goods .menu-wrapper .menu-item{
  display: table;
  height: 54px;
  width: 56px;
  padding: 0 12px;
  line-height: 14px;
}
.goods .menu-wrapper .current{
  position: relative;
  z-index: 10;
  margin-top: -1px;
  background: #fff;
  color: #02a774;
  font-weight: 700;
}
.goods .menu-wrapper .current .text{
  border: none;
}
.goods .menu-wrapper .icon{
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin-right: 2px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
}
.goods .menu-wrapper .text{
  display: table-cell;
  width: 56px;
  vertical-align: middle;
  border-bottom-color: rgba(7,17,27,0.1);
}
.goods .foods-wrapper{
  flex: 1;
}
.goods .foods-wrapper .title{
  padding-left: 14px;
  height: 26px;
  line-height: 26px;
  border-left: 2px solid #d9dde1;
  font-size: 12px;
  color: rgb(147,153,159);
}
.goods .foods-wrapper .food-item{
  display: flex;
  margin: 18px;
  padding-bottom: 18px;
  border-bottom-color: rgba(7, 17, 27, 0.1);
}
.goods .foods-wrapper .food-item:last-child{
  border: none;
  margin-bottom: 0;
}
.goods .foods-wrapper .food-item .icon{
  flex: 0 0 57px;
  margin-right: 10px;
}
.goods .foods-wrapper .food-item .contents{
  position: relative;
  flex: 1;
}
.goods .foods-wrapper .food-item .contents .name{
  margin: 2px 0 8px 0;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: rgb(7,17,27);
}
.goods .foods-wrapper .food-item .contents .desc,
.goods .foods-wrapper .food-item .contents .extra{
  line-height: 10px;
  font-size: 10px;
  color: rgb(147,153,159);
}
.goods .foods-wrapper .food-item .contents .desc{
  line-height: 12px;
  margin-bottom: 8px;
}
.goods .foods-wrapper .food-item .contents .extra .count{
  margin-right: 12px;
}
.goods .foods-wrapper .food-item .contents .price{
  font-weight: 700;
  line-height: 24px;
}
.goods .foods-wrapper .food-item .contents .price .now{
  margin-right: 8px;
  font-size: 14px;
  color: rgb(240,20,20);
}
.goods .foods-wrapper .food-item .contents .price .old{
  text-decoration: line-through;
  font-size: 10px;
  color: rgb(147,153,159);
}
.goods .foods-wrapper .food-item .contents .cartcontrol-wrapper{
  position: absolute;
  right: 0;
  bottom: 12px;
}
