.tab{
  height: 40px;
  line-height: 40px;
  background: #fff;
}
.tab .tab-item{
  float: left;
  width: 33.333333%;
  text-align: center;
  font-size: 14px;
  color: rgb(77,85,93);
}
.tab .tab-item a{
  display: block;
  position: relative;
}
.tab .tab-item .router-link-active{
  color: #02a774;
}
.tab .tab-item .router-link-active:after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 35px;
  height: 2px;
  transform: translateX(-50%);
  background: #02a774;
}
